* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color:white;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  background-color: #d8dbe2;
	background-image: 
		repeating-radial-gradient(circle at 0 100%, rgba(27,27,30, 0.1), rgba(88,164,176, 0.15) 1px, rgba(216,219,226, 0.2) 2px, rgba(88,164,176, 0.15) 3px, rgba(27,27,30, 0.1) 4px), 
		radial-gradient(circle at 0 100%, #1b1b1e, #373f51, #58a4b0, #a9bcd0, #d8dbe2);
}


.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  width:500px;
  margin:auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(34, 60, 80, 0.2);
}

.slider__images {
  display: flex;
  gap:10px;
  transform: translateX(0%);
  transition: transform 2s;
  
}
.slider__images p {
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
}
.slider__image {
  width:500px;
  height:500px; 
  
}

img {
  border-radius: 10px;
  width:495px;
  height:495px;
  
}

.slider__bottom-element {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: normal;
}

.slider__buttons {
  display:flex;
  gap:10px;
}

#slide1:checked ~ .slider__images{
  transform: translateX(768px);
} 

#slide2:checked ~ .slider__images{
  transform: translateX(258px);
}
#slide3:checked ~ .slider__images {
  transform: translateX(-252px);
}
#slide4:checked ~ .slider__images {
  transform: translateX(-762px);
}
/*.slider__images*/

input {
  display:none;
}

label {
  box-sizing: content-box;
  cursor:pointer;
  height:15px;
  width:15px;
  border-radius: 50%;
  margin: 10px;;
  border: solid white 2px;
  transition: background 2s;
}

.slider__inner-button {
  height:40px;
  width:40px;
  margin-left:-12.5px;
  margin-top:-12.5px;
  border-radius: 50%;

}

#slide1:checked ~ .slider__bottom-element >.slider__buttons label:nth-of-type(1) > .slider__inner-button,
#slide2:checked ~ .slider__bottom-element > .slider__buttons label:nth-of-type(2) > .slider__inner-button,
#slide3:checked ~ .slider__bottom-element > .slider__buttons label:nth-of-type(3) > .slider__inner-button,
#slide4:checked ~ .slider__bottom-element > .slider__buttons label:nth-of-type(4) > .slider__inner-button {
  background-color: #9CDE9F;
  height:17px;
  width:17px;
  margin-left:-1px;
  margin-top:-1px;
}

label:hover{
  border: solid #9CDE9F 2px;
}

@media all and (max-width:460px){
  .slider__bottom-element {
    justify-content: center;
  }

  .slider__images p {
    padding-top: 50px;
  }
}